.rounded-circle{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.card-imag{
    height: 220px;
    width: 250px;
}

.posts{
    padding-left: 250px;
    padding-bottom: 20px;
}
.profile{
    padding-right: 250px;
}
